* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: grey;
  display: flex;
}
main {
  display: flex;
}
input,
select,
button {
  display: block;
  width: 100%;
}
.carbuyform {
  max-width: 400px;
  border: 2px solid rgb(206, 206, 206);
  padding: 10px;
}
fieldset {
  padding: 5px;
  border: 2px solid rgb(206, 206, 206);
}
input[type="color"] {
  padding: 10px 3px;
}
button {
  background-color: rgb(68, 93, 250);
  color: white;
}
.caradvertisement {
  border: 2px solid rgb(206, 206, 206);
  width: 400px;
  height: auto;
}
aside {
  padding: 10px;
}
h1 {
  padding: 5px;
}

p {
  width: 300px;
}
