* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
  padding: 5px 50px;
  border-bottom: 2px solid grey;
}
a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.nav-list {
  display: flex;
  gap: 20px;
  list-style: none;
  font-weight: 500;
  font-size: 20px;
  align-items: center;
}
.sign-container {
  display: flex;
  gap: 10px;
  list-style: none;
  font-weight: 500;
  font-size: 15px;
  align-items: center;
}
.sign-up-link {
  background-color: rgb(198, 226, 251);
  border-radius: 10px;
  padding: 7px;
}
.sign-in-link {
  background-color: rgba(23, 15, 250, 0.852);
  border-radius: 10px;
  padding: 7px;
  color: beige;
}
.logo {
  text-transform: uppercase;
  font-style: italic;
  font-weight: bolder;
  font-size: 35px;
}

.content {
  display: flex;
  height: 50%;
  max-width: 100%;
  padding: 50px 30px 0 30px;
  justify-content: space-around;
  align-items: center;
}
article {
  width: 50%;
}
.title {
  font-weight: bold;
  font-size: 35px;
  line-height: 35px;
  width: 80%;
  margin-bottom: 40px;
}
.subtitle {
  margin-bottom: 30px;
  font-size: 25px;
}
.on:hover {
  text-decoration: underline;
  color: rgb(198, 170, 77);
}
.download-option {
  display: flex;
  list-style: none;
  gap: 20px;
}
.download-apps {
  width: 200px;
}
.image-car {
  position: absolute;
  width: 120%;
  left: 50%;
  top: -10%;
  transform: translateX(-58%);
}
.image-container {
  position: relative;
  background-color: rgb(198, 170, 77);
  border-radius: 50px 50px 0 0;
  width: 40%;
  height: 700px;
}
.filter {
  position: absolute;
  display: flex;
  top: 90%;
  left: 60px;
  background-color: white;
  box-shadow: 1px 1px 10px 2px rgb(198, 170, 77);
  width: 60%;
  padding: 10px;
  border-radius: 10px;
}
.filter-options {
  display: flex;
}
.filter-container {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
}
.location-logo {
  width: 12px;
}
.search {
  color: aliceblue;
  background-color: rgba(23, 15, 250, 0.852);
  font-weight: bold;
  padding: 15px 35px 15px 35px;
  border-radius: 10px;
  border: none;
}
.filter-label {
  font-size: 20px;
}
.input-location,
.input-date {
  border: unset;
  border: 0.5px solid;
  color: lightgray;
  font-size: 20px;
  border-color: lightgray;
  border-radius: 5px;
}
.car-sites {
  display: flex;
  position: absolute;
  top: 115%;
}
.car-sites-container {
  display: flex;
  gap: 60px;
}
.car-sites-list {
  list-style: none;
}
.car-sites-link {
  font-size: 30px;
  font-weight: bolder;
  font-style: italic;
  list-style: none;
  color: grey;
}
.booking-logo {
  display: block;
  margin: 0 auto;
  width: 50px;
}
.booking-container {
  position: absolute;
  top: 130%;
  align-items: center;
}
.booking-steps-container {
  display: flex;
}
.booking-steps {
  display: flex;
  list-style: none;
  gap: 50px;
}
.booking {
  border: 2px solid red;
  width: calc(100% / 3);
}
.booking-title,
.booking-subtitle,
.how-it-works,
.working-steps {
  text-align: center;
}
/* =============++++++++++++++++===================+++++++++++++++++ */

/* Psuedo class */
.nav-link:hover {
  text-decoration: underline;
  font-size: 21px;
  color: rgb(198, 170, 77);
}
.nav-link-logo:hover {
  color: rgb(198, 170, 77);
}
.sign-in-link:hover {
  padding: 9px;
  background-color: rgb(198, 170, 77);
}
.sign-up-link:hover {
  padding: 9px;
  background-color: rgb(198, 170, 77);
  color: antiquewhite;
}
.download-apps:hover {
  padding: 2px;
}
.car-sites-link:hover {
  color: rgb(198, 170, 77);
  padding: 5px;
}
.input-location:hover {
  background-color: rgb(198, 170, 77);
  border: none;
}
.input-date:hover {
  background-color: rgb(198, 170, 77);
  border: none;
}
.search:hover {
  background-color: rgb(198, 170, 77);
  padding: 16px 36px 16px 36px;
  box-shadow: 1px 1px 5px 1px;
  border: none;
}
