* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}
body {
  background-color: lightgrey;
}

label,
input,
select {
  display: block;
  width: 100%;
}
fieldset {
  display: block;
  max-width: 400px;
  margin: 20px 10px;
  padding: 10px;
  border: 3px solid gray;
}
button {
  text-align: center;
  width: 100%;
  background-color: rgb(32, 126, 203);
  padding: 8px;
  color: white;
}

input[type="color"] {
  padding: 10px 3px;
}
input,
select,
button {
  border: unset;
  border-radius: 3px;
  padding: 2px;
}
legend {
  font-weight: bold;
  font-family: "Lucida Sans";
  padding: 2px;
}
span {
  display: block;
  margin-bottom: 5px;
}
label {
  margin-bottom: 5px;
}
#condition {
  margin-bottom: 10px;
}

div {
  position: relative;
  left: 500px;
  bottom: 400px;
  border: 3px solid gray;
  padding: 100px;
  max-width: 100%;
  max-height: 100%;
  margin: 20px 10px;
}
.c1 {
  position: absolute;
  border: unset;
  width: 100px;
  height: 100px;
}
.c2 {
  position: absolute;
  border: unset;
  width: 100px;
  height: 100px;
}
.p1 {
  position: absolute;
  bottom: 200px;
}
