* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: grey;
}
main {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
input,
select,
button {
  display: block;
  width: 100%;
}
.carbuyform {
  width: 100%;
  max-width: 400px;
  background-color: grey;
  padding: 15px;
}
form {
  border: 3px solid rgb(206, 206, 206);
  padding: 20px;
}
span {
  color: azure;
  font-size: 13px;
}
legend {
  color: azure;
  font-size: 15px;
}
section {
  height: 600px;
}
input {
  margin-bottom: 5px;
}
fieldset {
  padding: 10px;
  border: 2px solid rgb(206, 206, 206);
}
input[type="color"] {
  padding: 10px 3px;
}
button {
  background-color: rgb(68, 93, 250);
  color: white;
}
.caradvertisement {
  background-color: aquamarine;
  width: 400px;
}
aside {
  padding: 10px;
}
h1 {
  padding: 5px;
}

p {
  width: 300px;
}
